body {
  background-color: rgb(32, 37, 37);
  background-image: '#image-section:nth-child(1)'
}

#content{
  margin: 150px;
  display: flexbox;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: grey;
  border-radius: 20px;
  padding: 15px;
  font-family: 'Press Start 2P',cursive;
  font-size: smaller;
  animation: zoomIn;
  animation-duration: 1s;
}
#options{
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}
.option{
  border-radius: 8px;
  height: 35px;
  background-color: white;
  border: 3px solid black;
  font-family: 'Press Start 2P', cursive;
  font-size: smaller;
}
.option:hover{
  background-color: lightgray;
}
#text {
  line-height: 2;
  
}
#img-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 100px;
}
